<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мій сайт{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('main.post_list') }}">Головна</a>
        <a href="{{ url_for('main.post_create') }}">Новий пост</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
